body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .calendar {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff; /* Color for the month header */
    color: #fff; /* Text color for the month header */
  }
  
  .calendar-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff; /* Button color for the month header */
  }
  
  .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
  }
  
  .days {
    text-align: center;
    padding: 5px;
    background-color: #f9f9f9;
  }
  
  .today {
    background-color: #ffc107; /* Color for today's date */
  }

  .strikthrough{
    text-decoration: line-through;
}

h1{
  text-align: center;
}

#activities{
  text-align: center;
}

div{
  text-align: center;
}

.input-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px; /* Adjust width as needed */
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
}
